*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/release
/captures
.externalNativeBuild
.cxx
local.properties

# Android build outputs
/build/
/app/build/
*.apk
